services:
  - type: web
    name: agatha-knights-backend
    env: node
    buildCommand: npm install
    startCommand: npm run start
    envVars:
      - key: MONGODB_URI
        value: "mongodb+srv://enacra204:Casablang0@agatha-knights.a7nt0.mongodb.net/AgathaKnights?appName=Agatha-Knights"
      - key: JWT_SECRET
        value: "9d3b9e0d8ee0389f2cdeef47b175cf59cd54c531493766c869f1360c6e7308c30663afcd58cc97f23d729771ff0d27e9ab5ea1d171ab516dcb994470bc30c772"
      - key: JWT_EXPIRATION_TIME
        value: "7d"
      - key: CLIENT_ORIGIN
        value: "https://agatha-knights-game.onrender.com"
      - key: PORT
        value: "3000"

  - type: web
    name: agatha-knights-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_API_URL
        value: "https://agatha-knights-backend.onrender.com/api"