.character-page {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/background.png');
    background-repeat: no-repeat;
    background-position: right bottom; 
    background-attachment: fixed; 
    background-size: contain; /* Adjust the size of the background image */
}

.character-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 800px;
    margin: 50px;
    background: var(--dark-grey);
    border-radius: 10px;
}

.character-icon {
    width: 80px;
    height: 80px;
}

.character-stats2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #ccc; /* Add border between stats and attributes */
    padding: 20px 0 10px 0;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attributes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc; /* Add border below attributes */
    padding: 20px 0 10px 0;
}

.attributes-container ul {
    list-style-type: none;
    width:30%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.attributes-container li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.abilitys-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 10px 0;
}

.abilitys-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.proficiencies-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 10px 0;
}

.proficiencies-container .equipment, .proficiencies-container .saving-throws {
    width: 48%; /* Adjust width as needed */
}

.proficiencies-container .equipment {
    border-right: 1px solid #ccc; /* Add border in the middle */
    padding: 20px; /* Add padding to the right */
}

.proficiencies-container .saving-throws {
    padding: 20px; /* Add padding to the left */
}

.proficiencies-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.proficiencies-container li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.saving-throws ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.saving-throws li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.create-character-link {
    margin: 20px 0 20px 0;
    width: 100%;
}

.war-nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.war-gold-and-potions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--dark-grey);
    border-radius: 10px;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 50px 0 20px 0;
}
.war-equipment {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.war-gold {
    display:flex;
    flex-direction: column;
    padding:20px;
    border-left: solid 1px #ccc;
    padding-left: 50px;
}
.potion-container-c {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: solid 1px #ccc;
    padding-left: 50px;
}

.war-character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.character-image {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.agatha-knights-image {
    height: 375px;
    width: 747px;
}

.character-HPBar {
    width: 125px; 
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.equipment-item {
    position: relative; /* Ensure the weapon list is positioned relative to the weapon item */
}

.equipment-list {
    display: none; /* Hide the weapon list by default */
    position: absolute;
    bottom: 0;
    left: 100%; /* Position the list to the right of the weapon item */
    width: 150px; 
    background-color: #242424;
    border-radius: 5px;
    padding: 10px;
    z-index: 10; /* Ensure the weapon list is above other content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.equipment-item:hover .equipment-list {
    display: block; /* Show the weapon list on hover */
}

.equipment-list p {
    margin: 5px 0;
}

@media (max-width: 1520px) {

    .character-container-row{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
    }
    .character-page {
        flex-direction: column;
        background-position: center;
        background-position-y: 100%;
    }

    .war-character-inventory {
        width: 100%;
        justify-items: center;
        margin: 0;
    }

    .war-character-move-large {
        display: none;
    }
    .war-character-move-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .war-character-agatha-small {
        display: none;
    }
}


@media (min-width: 1520px) {
    .war-character-move-small {
        display: none;
    }
    .war-character-move-large {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .war-character-agatha-large {
        display: none;
    }
    .war-character-agatha-small {
        display: flex;
        flex-direction: row;
    }
}
