html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
}

#root {
    max-width: 100% !important;
}

.war-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x: auto;
    height: 100%;
}

.character-info-container {
    top: 110px;
    left: 10px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-info-container h2 {
    margin: 0 0 10px 0;
}

.character-info-container p {
    margin: 5px 0;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    width: 600px;
}

.battle-text {
    margin-top: 20px;
    text-align: center;
}

.battle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: white;
    width: 100%;
    height: 200px;
}

.battle-container h1 {
    color: black;
}

.character-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; /* Set the width of the character section */
}

.character-image, .adversary-image {
    width: 130px;
    height: 130px;
}

.enemy-info-container {
    top: 110px;
    right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hp-bar-container {
    width: 100%; /* Make the HP bar take the full width of the character section */
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.hp-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.attack-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.attack-message.hit {
    color: red;
}

.attack-message.miss {
    color: white;
}

.attack-message.critical {
    color: #FFA500; 
    font-weight: bold;
}

.background-image {
    background-image: url('background.png');
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Ensure the background is behind all other content */
}

.tavern {
    background-image: url('market.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure it covers the battle-container */
}

.battle-container {
    position: relative; /* Ensure the Tavern can cover it */
}