html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
}

#root {
    max-width: 100% !important;
}

.war-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    height: 100%;
}

.character-info-container {
    position: sticky;
    align-self: center;
    width: 200px;
    /* Love this */
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-info-container h2 {
    margin: 0 0 10px 0;
}

.character-info-container p {
    margin: 5px 0;
}

.potion-container {
    margin-top: 10px;
}

.potion-image{
    width: 50px;
    height: 50px;
}

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    width: 600px;
}

.battle-text {
    margin-top: 20px;
    text-align: center;
}

.battle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 54%;
}

.battle-container h1 {
    color: greenyellow;
}

.character-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; /* Set the width of the character section */
}

.character-image, .adversary-image {
    width: 200px;
    height: 200px;
}

.enemy-info-container {
    position: sticky;
    align-self: center;
    width: 200px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hp-bar-container {
    width: 125px; 
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.hp-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.attack-message {
    text-align: center;
    margin-bottom: 100px;
    font-size: 2.5rem;
}

.attack-message.hit {
    color: red;
}

.attack-message.miss {
    color: white;
}

.attack-message.critical {
    color: #FFA500; 
    font-weight: bold;
}

.background-image {
    background-image: url('/public/catacombs-background.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Ensure the background is behind all other content */
    background-size: cover;
}

.catacombs-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catacombs-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Ensure the image is behind the button */
}

.catacombs-container button {
    position: relative;
    z-index: 1; /* Ensure the button is above the image */
    background-color: transparent;
    color: transparent;
    border: none;
    height: 400px;
    width: 300px;
    
}

.catacombs-container button:hover + .catacombs-image {
    content: url('/catacombs-open.png'); /* Change the image source */
}

/* work in progress */

/* Styles for 1920x1080 resolution */
@media (max-width: 1920px) and (max-height: 1080px) {
    .battle-container {
        top: 48%;
    }
}

/* Styles for 2560x1440 resolution */
@media (min-width: 2560px) and (min-height: 1271px) {
    .battle-container {
        top: 56%;
    }
}